//*****general*****
// --title
$title-font-size: $xl-font-size;
$title-font-weight: $bold-weight;
// --text
$text-font-size: $xs-font-size;
$text-font-weight: $light-weight;


// --buttons
$btn-font-size: $x-s-font-size;
$btn-font-weight: $normal-weight;
