//------------------//
//-----homepage----//
//-----------------//

//*****header*****
// --title
$header__title-font-size: $xxl-font-size;
$header__title-font-weight: $normal-weight;
$header__title-big-font-weight: $bold-weight;
// --subtitle
$header__subtitle-font-size: $x-s-font-size;
$header__subtitle-font-weight: $bold-weight;


//*****nav*****
$nav__font-size: $x-s-font-size;
$nav__font-weight: $normal-weight;
$nav__hidden-menu-font-size: $m-font-size;
$nav__hidden-menu-font-weight: $bold-weight;

//*****button*****
$button__font-size: $x-s-font-size;
$button__font-weight: $normal-weight;

//*****features*****
// --title
$features__title-font-size: $s-font-size;
$features__title-font-weight: $normal-weight;

// --subtitle
$features__subtitle-font-size: $xs-font-size;
$features__subtitle-font-weight: $normal-weight;


//*****testimonial*****
// --text
$testimonial__text-font-size: $m-font-size;
$testimonial__text-font-style: italic;
$testimonial__text-font-weight: $normal-weight;
// --name
$features__name-font-size: $xs-font-size;
$features__name-font-weight: $normal-weight;


//*****blog*****
// --tag
$blog__tag-font-size: $xxs-font-size;
$blog__tag-font-weight: $normal-weight;
// --title
$blog__title-font-size: $s-m-font-size;
$blog__title-font-weight: $bold-weight;
// --date
$blog__date-font-size: $xxs-font-size;
$blog__date-font-weight: $normal-weight;
