//***layout***//
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
}

.container {
  z-index: 2;
  grid-column: 2 / span 10;
}
//***/layout***//

/*navigation on scroll*/
.nav-scrolled {
  background: rgb(255, 255, 255);
  transition: all .3s ease;
  z-index: 999;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

  .links {
    .link {
      a {
        color: hsl(0, 0%, 0%)!important;
      }
    }
  }

  .burger-container {
    .burger {
        div {
          background: hsl(0, 0%, 0%)!important;
      }
    }
  }
}

.white-bg {
  background: hsl(0, 0%, 100%);
}

.title {
  font: {
    size: $title-font-size;
    weight: $title-font-weight;
    family: $play;
  }
}

.description {
  margin: 2em 0;
  font: {
    size: $text-font-size;
    weight: $text-font-weight;
  }
  color: #5f5f5f;
}
