//********** HEADER **********//
.header {
  background: url('../../images/header.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .container {
    .navigation {
      transition: all 0.3s ease;
      height: 100px;
      padding: 0 10%;
      display: grid;
      grid-template-columns: 150px 1fr 1fr;
      position: fixed;
      width: 100%;
      left: 0;

      .logo {
        display: grid;
        align-items: center;
        z-index: 4;

        img {
          max-width: 60%;
        }
      }

      .links {
        display: flex;
        justify-content: space-around;

        .link {
          a {
            display: flex;
            align-items: center;
            height: 100%;
            color: hsla(0, 0%, 100%, 0.8);
            text-transform: uppercase;
            transition: all .3s ease;
            font: {
              size: $nav__font-size;
              weight: $nav__font-weight;
            }

            &:hover {color: hsla(0, 0%, 100%, 1);}
          }
        }
      }

      .burger-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        z-index: 4;

        .burger {
          width: 35px;
          height: 35px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          div {
            height: 3px;
            background: hsla(0, 0%, 100%, 0.8);
          }
        }
      }
    }

    .hidden-menu {
      background: rgb(31, 31, 31);
      background-image: url('../../images/hidden-menu.jpg');
      background-size: cover;
      background-position: center;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 3;
      transition: all .5s ease;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;

      .hidden-menu-links {
        z-index: 4;
        height: auto;

        display: grid;
        grid-column: 3 / span 8;
        justify-items: center;


        .link {
          padding: 15px 0;
          a {
            font: {
              family: $play;
              size: $nav__hidden-menu-font-size;
              weight: $nav__hidden-menu-font-weight;
            }
            color: hsla(0, 0%, 100%, 0.8);
            transition: all .3s ease;

            &:hover {color: hsla(0, 0%, 100%, 1);}
          }
        }
      }

      .hidden-menu-social {
        position: absolute;
        bottom: 8vh;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        width: 120px;

        .link {
          display: flex;
          justify-content: center;
          i {
            color: hsla(0, 0%, 100%, 0.8);
            transition: all .3s ease;
            font-size: $nav__hidden-menu-font-size;

            &:hover {color: hsla(0, 0%, 100%, 1);}
          }
        }
      }
    }

    .header__contents {
      border-color: red;
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70vh;
      width: 100%;
      text-align: center;

      .title-header, .subtitle {
        color: #fff;
      }

      .title-header {
        h1, h2 {
          font: {
            size: $header__title-font-size;
            weight: $header__title-font-weight;
          }
          line-height: 1.2em;
        }
        h1 {
          font-weight: $header__title-big-font-weight;
        }
        h2 {
          font-style: italic;
        }
      }

      .subtitle {
        margin-bottom: 1.3125em;
        font: {
          size: $header__subtitle-font-size;
          weight: $header__subtitle-font-weight;
        }
        text-transform: uppercase;
        line-height: 1em;
      }

      .button {
        margin-top: 2.5em;
      }

      .scroll {
        position: absolute;
        bottom: 0.75em;
        left: 50%;
        transform: translate(-50%);

        i {
          font-size: 4em;
          color: hsla(0, 0%, 100%, 0.603);
          transition: all .3s ease;
        }

        &:hover {
          cursor: pointer;

          i {
            color: hsla(0, 0%, 100%, 1);
          }
        }
      }
    }
  }
}

//hide hidden menu
.hide-hidden-menu {
  display: none;
  opacity: 0;
}

//show hidden menu
.show-hidden-menu {
  display: grid;
  opacity: 1;
}

//hide scroll on body
.hide-scroll-body {
  overflow: hidden;
}

//burger x
.burger-x {
  .line1 {
    transform: rotate(43deg) translate(8px, 8px);
  }
  .line2 {
    transform: scale(0);
  }
  .line3 {
    transform: rotate(-43deg) translate(8px, -8px);
  }
}
//********** /HEADER **********//


//********** ABOUT **********//
.about {
  padding-top: 150px;
  height: auto;

  .container {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      text-align: center;
      width: 60%;

      img {
        max-height: 150px;
      }
    }
  }
}
//********** /ABOUT **********//

//********** FEATURES **********//
.features {
  height: auto;
  .container {
    z-index: 1;
    margin: 0;
    padding: 50px 0;
    grid-column: 1 / span 12;
    background: url('../../images/curls.png');
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(66, 66, 66, 0.281);      
    }
    
    .items-container {
      z-index: 3;
      grid-column: 3 / span 8;
      height: auto;
      display: grid;
      justify-content: space-around;
      grid-template-columns: repeat(auto-fit, 210px);
      grid-gap: 30px;
      
      .item {
        color: white;
        display: flex;
        
        .icon {
          display: flex;
          align-items: center;
          
          i {
            font-size: 3em;
          }
        }
        
        .text {
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          
          .title-features {
            font-size: 1.3em;
          }
          
          .subtitle {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}

//********** /FEATURES **********//

//********** BEST PROJECTS **********//
.best-projects {
  height: auto;
  padding-bottom: 100px;
  overflow: hidden;

  .container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 100px 0;

    .text {
      display: flex;
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      text-align: center;
      padding-bottom: 50px;
    }

    .projects {
      display: grid;
      width: 80%;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: center;

      .project-item1 {background-image: url("../../images/project-1.jpg");}
      .project-item2 {background-image: url("../../images/project-2.jpg");}
      .project-item3 {background-image: url("../../images/project-3.jpg");}
      .project-item4 {background-image: url("../../images/project-4.jpg");}
      .project-item5 {background-image: url("../../images/project-5.jpg");}
      .project-item6 {background-image: url("../../images/project-6.jpg");}
      .project-item7 {background-image: url("../../images/project-7.jpg");}
      .project-item8 {background-image: url("../../images/project-8.jpg");}
      .project-item9 {background-image: url("../../images/project-9.jpg");}

      .project-item {
        margin: 0;
        height: 300px;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: hsla(0, 0%, 0%, 0.7);
          opacity: 0;
          transition: all .3s ease;
        }

        &:hover {
          cursor: pointer;

          &:before {
            opacity: 1;
          }
        }

        .hidden-container {
          height: auto;
          text-align: center;

          .hidden-title {
            transform: translateY(15px); opacity: 0;

            font: {
              family: $play;
              size: 1.7em;
              weight: $bold-weight;
            }
            color: #fff;
          }

          .hidden-subtitle {
            transform: translateY(15px); opacity: 0;

            font: {
              family: $work;
              size: 0.9em;
              weight: $bold-weight;
            }
            text-transform: uppercase;
            color: #fff;
          }
        }
      }

    }
  }
}

.show-hidden-title-subtitle {
  animation: show-hidden-title-subtitle .5s forwards;
}

@keyframes show-hidden-title-subtitle {
  0% {transform: translateY(15px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}

.show-hidden-title-subtitle-r {
  animation: show-hidden-title-subtitle-r .5s forwards;
}
@keyframes show-hidden-title-subtitle-r {
  0% {transform: translateY(0); opacity: 1;}
  100% {transform: translateY(15px); opacity: 0;}
}
//********** /BEST PROJECTS **********//


//********** TESTIMONIAL **********//
.testimonial {
  height: 400px;
  
  .container {
    z-index: 1;
    margin: 0;
    padding: 50px 10px;
    z-index: 1;
    display: grid;
    grid-column: 1 / span 12;
    grid-template-columns: repeat(12, 1fr);
    background: url('../../images/curls.png');
    color: #fff;
    align-items: center;
    position: relative;
    
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(66, 66, 66, 0.281);      
    }
    
    .owl-carousel {
      grid-column: 1 / span 12;
    }
    .owl-stage {
      display: flex;
    }
    
    .item {
      padding: 0 15%;
      text-align: center;
      
      &:hover {
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
      }
      
      .testimonial-title {
        font: {
          size: 1.6em;
          family: $play;
          style: italic;
        }
        
        &:before {
          content: open-quote;
          font-size: 1.5em;
        }
        
        &:after {
          content: close-quote;
          font-size: 1.5em;
        }
      }
      
      .testimonial-name {
        margin-top: 30px;
        font: {
          size: 0.9em;
          family: $work;
        }
        text-transform: uppercase;
      }
    }
  }
}
//********** /TESTIMONIAL **********//


//********** PARTNERS **********//
.partners {
  height: auto;
  .container {  
    padding: 50px 0;
    height: auto;
    z-index: 1;
    grid-column: 3 / span 8;
    
    &:hover {
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }
    
    .item {
      img {max-height: 100%;}
    }
  }
}
//********** /PARTNERS **********//


//********** BLOG **********//
.blog {
  height: auto;
  background: hsl(0, 0%, 98%);
  .container {
    z-index: 1;
    margin: 0;
    height: auto;
    padding: 50px 90px 0 0;
    grid-column: 3 / span 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      text-align: center;
      margin-bottom: 20px;
      width: 70%;
    }
    
    #blog {
      &:hover {
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
      }
      .item {
        .image {
          height: 250px;
          background: url('../../images/blog-1.jpg');
          background-size: cover;
          position: relative;
          
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: hsla(0, 0%, 100%, 0);
            transition: all 0.3s ease;
          }
          
          &:hover {
            cursor: pointer;
            &:before {
              background: hsla(0, 0%, 100%, 0.2);
            }
          }
          
          .button{
            position: absolute;
            bottom: 5px;
            left: 5px;
            .btn {
              padding: 7px 23px;
            }
          }
        }
        
        .text {
          background: rgb(255, 255, 255);
          padding: 10px 0;
          width: auto;
          
          .text-container {
            padding: 30px 20px 0;
            text-align: left;
            
            .title {
              font-size: 1.2em;
              text-transform: capitalize;
              transition: all 0.3s ease;
              &:hover {
                color: #575757;
                cursor: pointer;
              }
            }
            
            .date {
              text-transform: uppercase;
              font-size: 0.8em;
              margin-top: 1em;
            }
            
            .description {
              font-size: 0.9em;
              margin-top: 1em;
            }
          }
        }
      }
    }
  }
}

//********** /BLOG **********//
//********** CONTACT **********//
.contact {
  height: auto;
  background: #F6F6F6;
  
  .container {
    height: auto; 
    padding: 150px 0 70px 0;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 3 / span 9;
    
    .text-container {
      grid-column: 1 / span 5; 
      
      p {
        line-height: 1.7;
      }
    }
    
    .form-container {
      grid-column: 6 / span 7;
      
      .form {
        display: grid;
        grid-row-gap: 24px;
        grid-template: 50px 50px auto 30px / 80%;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        
        input, textarea {
          font-family: $work;
          border: none;
          padding: 13px;
          &::placeholder {
            font-family: $work;
          }
        }
        
        .text-email-input {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px;
          input {
            width: 100%;
          }
        }
        .textarea-input, .name-input {
          width: 100%;
        }
        
        .btn {
          border: none; 
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
//********** /CONTACT **********//

//********** FOOTER **********//
.footer {
  // * { border: 1px solid rgb(158, 0, 0); } //temp
  height: auto;

  .container {
    z-index: 1;
    .social {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100px;
      margin-bottom: 15px;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px; 
        height: 30px;
        color: #959595;
        font-size: 18px;
        transition: all .3s ease;
        
        &:hover {
          color: #000;
        }
      }
    }
    
    .copyright {
      display: flex;
      align-content: center;
      justify-content: center;
      height: 100px;
      border-color: rgb(83, 83, 61);

      p {
        font-size: 13px;
        color: #959595;
      }
    }
  }
}
//********** /FOOTER **********//

/*************************************
********* PORTFOLIO PAGE *************
************************************/
.header-portfolio {
  height: 100px;
  background-color: hsl(0, 0%, 100%);
  background-image: none;

  .container {
    .navigation {
      .links {
        .link {
          a {
            color: #000;
          }
        }
      }
    }
  }

  &:before {
    content: "";
    background: none;
  }
}

.best-projects-portfolio {
  background: #F6F6F6;
}

.footer-portfolio {
  .container {
    grid-column: 1 / span 12;
    background: #F6F6F6;
  }
}

.load-more {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 15px;
    text-transform: uppercase;
    color: #3b3b3b;
    transition: all .3s ease;
  }

  &:hover {
    cursor: pointer;
    p {
      color: #959595;
    }
  }
}

.best-projects-portfolio {
 .container {
   padding-top: 40px;
  .page-menu {
    position: relative;
    width: 17px;
    height: 17px;
  
     &:before, &:after {
       content:"";
       position: absolute;
       width: 6px;
       height: 6px;
       background: hsl(0, 0%, 0%);  
       top: 0;
       left: 0;  
       transition: all .3s ease;
      }
  
      &:after {
        right: 0;
        left: auto;
      }
  
      span {
        &:before, &:after {
          content:"";
          position: absolute;
          width: 6px;
          height: 6px;
          background: hsl(0, 0%, 0%);  
          bottom: 0;
          left: 0;  
          transition: all .3s ease;
         }
     
         &:after {
           right: 0;
           left: auto;
         }
      }
  
      &:hover {
        cursor: pointer;
  
        &:before, &:after {
          background: hsl(0, 0%, 58%);
        }
  
        span {
          cursor: pointer;
  
          &:before, &:after {
              background: hsl(0, 0%, 58%);
          }
        }
      }
    } 
    
    .hidden-page-menu {
      width: 500px;
      height: 50px;
      transform: scale(1);
      position: absolute;
      top: 180px;
      opacity: 0;
      transition: all 1.2s ease;

      display: flex;
      justify-content: space-around;
      align-items: center;

      .item {
        font-size: 12px;
        text-transform: uppercase;
        transform: translateY(-10px); 
        transition: all .3s ease;
        opacity: 0;

        &:hover {
          cursor: pointer;
          color: #959595;
        }
      }
    }
  }
}

.slideDownProjectsInit {animation: slideDownProjectsInit 1s forwards;}

@keyframes slideDownProjectsInit {
  0% {transform: translateY(60px);}
  100% {transform: translateY(0);}
}
.slideDownProjects {animation: slideDownProjects 1s forwards;}

@keyframes slideDownProjects {
  0% {transform: translateY(0);}
  100% {transform: translateY(60px);}
}

.showPageMenu {opacity: 1!important;}

.disableAnimation {animation: none!important;}

//--cascades
.cascade1 {animation: cascade1 1s .3s forwards;}

@keyframes cascade1 {
  0% {transform: translateY(-10px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}

/*************************************
********* /PORTFOLIO PAGE *************
************************************/


/*************************************
********* T E S T *******************
************************************/
// .test {
//   height: 1500px;
//   border: 1px solid blue;
// }
/*************************************
********* T E S T *******************
************************************/


