//***layout***//
@media screen and (max-width: 1199px) {
  .container {
    grid-column: 2 / span 10;
    margin: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    grid-column: 2 / span 10;
  }
}

@media screen and (max-width: 575px) {
  .container {
    grid-column: 1 / span 12;
    margin: 0 15px;
  }
}

//***/layout***//
//***header***//
//navigation
@media screen and (min-width: 992px) {
  .header {
    .container {
      .navigation {
        .burger-container {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    .container {
      .navigation {
        grid-template-columns: 150px auto;
        z-index: 4;
        .blank {
          display: none;
        }

        .links {
          display: none;
        }

        .burger-container {
          display: grid;
        }
      }
    }
  }

  .about {
    .container {
      .text {
        width: 80%;
      }
    }
  }

  .features {
    .container{

    }
  }
}

//***/header***//

//***best projects***//
@media screen and (min-width: 1230px) {
  .best-projects {
    .container {
      .projects {
        grid-template-columns: repeat(3, 400px);

        .project-item {
          height: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 1229px) {
  .best-projects {
    .container {
      .projects {
        grid-template-columns: repeat(2, 400px);

        .project-item {
          height: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 843px) {
  .best-projects {
    .container {
      .projects {
        grid-template-columns: repeat(1, 1fr);

        .project-item {
          height: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .best-projects {
    .container {
      .projects {
        grid-template-columns: repeat(1, 1fr);

        .project-item {
          height: 250px;
        }
      }
    }
  }
}
//***/best projects***//

//***testimonial***//
@media screen and (max-width: 500px) {
  .partners {
    .container{
      padding: 80px 0 50px;
    }
  }
}
//***/testimonial***//


//***contact***//
@media screen and (max-width: 843px) {
  .contact {
    .container {
      grid-template-rows: 1fr 1fr;
      .text-container {
        grid-column: 1 / span 12;
      }

      .form-container{
        grid-column: 1 / span 12;
      }
    }
  }
}
//***/contact***//
