//***layout***//
@media screen and (max-width: 1199px) {
  .container {
    grid-column: 2 / span 10;
    margin: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    grid-column: 2 / span 10;
  }
}

@media screen and (max-width: 575px) {
  .container {
    grid-column: 1 / span 12;
    margin: 0 15px;
  }
}

//***/layout***//
//***header***//
//navigation
@media screen and (min-width: 992px) {
  .header {
    .container {
      .navigation {
        .burger-container {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    .container {
      .navigation {
        grid-template-columns: 150px auto;
        z-index: 4;
        .blank {
          display: none;
        }

        .links {
          display: none;
        }

        .burger-container {
          display: grid;
        }
      }
    }
  }

  .about {
    .container {
      .text {
        width: 80%;
      }
    }
  }
}


@media screen and (max-height: 600px) {
  .header {
    height: 700px;

    .header__contents{
      padding-top: 130px;
    }
  }

  .main-content-general {
    height: auto;
  }
}
//***/header***//

//***best projects***//
@media screen and (min-width: 1230px) {
  .best-projects {
    .container {
      .projects {
        grid-template-columns: repeat(3, 400px);

        .project-item {
          height: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 1229px) {
  .best-projects {
    .container {
      .projects {
        grid-template-columns: repeat(2, 400px);

        .project-item {
          height: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 843px) {
  .best-projects {
    .container {
      .projects {
        grid-template-columns: repeat(1, 1fr);

        .project-item {
          height: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .best-projects {
    .container {
      .projects {
        grid-template-columns: repeat(1, 1fr);

        .project-item {
          height: 250px;
        }
      }
    }
  }
}
//***/best projects***//

//***testimonial***//
@media screen and (max-width: 500px) {
  .partners {
    .container{
      padding: 80px 0 50px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .testimonial {height: 600px;}
}

@media screen and (max-width: 999px) {
  .testimonial {height: 650px;}
}

@media screen and (max-width: 426px) {
  .textimonial {height: 800px;}
}
//***/testimonial***//

@media screen and (max-width: 500px) {
  .blog {
    .container{
      .text {
        width: 100%;
      }
    }
  }
}

/*blog section*/
@media screen and (max-width:899px) {
  .blog {
    .container {
      grid-column: 3 / span 8;
      padding: 20px 0 0 0;
    }
  }
}

//***contact***//
@media screen and (max-width: 843px) {
  .contact {
    .container {
      grid-template-rows: 1fr 1fr;
      grid-column: 2 / span 10;
      padding: 50px 0 70px 0;

      .text-container {
        grid-column: 1 / span 11;
        margin-bottom: 30px;
      }
      .form-container {
        grid-column: 1 / span 12;
        .form {
          grid-template: initial;
          justify-content: initial;
        }
      }
    }
  }
}
//***/contact***//



/*************************************
********* BLOG PAGE ****************
************************************/
@media screen and (min-width: 1500px) {
  .blog-container {
    .container {
      grid-column: 3 / span 8;
      .blog-articles-container  {
        width: 800px;
      }
    }
  }
}
@media screen and (max-width: 1499px) {
  .blog-container {
    .container {
      grid-column: 2 / span 10;
      .blog-articles-container  {
        width: 60%;

        .blog-article {
          .image {
            height: 300px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .blog-container {
    .container {
      .blog-articles-container  {
        width: 90%;

        .blog-article {
          .image {
            height: 350px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .blog-container {
    .container {
      grid-column: 1 / span 12;
      .blog-articles-container  {
        width: 90%;

        .blog-article {
          .image {
            height: 300px;
          }
        }
      }
    }
  }
}
/*************************************
********* /BLOG PAGE ****************
************************************/


@media screen and (max-width: 400px) {
  .main-content-general .container .hidden-page-menu  {display: grid;}
}

@media screen and (max-width: 1175px) {
 .project {
   .container {
    grid-column: 1 / span 12;

    .project-container {
      flex-direction: column;
   
      .info {
       padding-top: 25px!important;
       padding-left: 0!important;
       width: auto!important;
      }
    } 
   }
 }
}


@media screen and (max-width: 800px) {
  .article {
    .container {
      grid-column: 1 / span 12;

      .info {
        display: grid;
        grid-row-gap: 5px;
      }

      .text {
        padding: 10px 0;
      }
    }
  }

  .leave-comments-container {
    .container {
      grid-column: 1 / span 12;

      .title {
        grid-column: 3 / span 10;
      }
      .form-container {
        margin-left: -25px;
        grid-column: 3 / span 10;
      }
    }
  }

  .comments-container {
    .container {
      grid-column: 1 / span 11;
    }
  }
}


//blog single comment section
@media screen and (max-width: 888px) {
  .comments-container {
    .container {
      .title {
        padding-left: 15px;
      }
      .comments-section {
        .single-comment {

          .picture, .text {
            padding: 10px 0;
          }

          .picture {
            align-items: center;
            padding-left: 15px;
              img {
                width: 80px; 
                height: 80px;
              }
            
          }
          .text {
            padding-left: 15px;
            
            .top {
              align-items: center;
            }
            .bottom {
              padding: 10px 0;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 570px) {
  .comments-container {
    .container {
      .comments-section {
        .single-comment {
          flex-direction: column;
        }

        .single-comment-two {
          margin: auto;
        }
      }
    }
  }
}
