.btn {
  padding: 1.125em 1.563em;
  background: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  transition: all .3s ease;
  font: {
    size: $font-size-text;
    weight: $font-weight-regular;
  }

  &:hover {
    background: hsl(0, 0%, 21%);
  }
}
